.caja{
    color: red;
    font-size: 20px;
    width: 300px;
    background-color: yellow;
    text-align: center;
    padding: 20px; 
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

.caja i{/* icono*/
    color: blue;
    font-size: 120px;/*cambio tamaño*/
   
}