body{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 15px;
    background-color: #E5E5E5;
}

header{
    background-color: #912E2E;
    padding: 0.5em;
}

header h1{
    font-size: 3em;
    display: inline-block;
    position: relative;
    font-weight: bold;
    bottom: 0.5em;
    color: white;
}

nav{
    background-color: #AA4B4B;
    margin-bottom: 4em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 14%;
}

nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}

nav ul li a:hover{
    background-color: #A82121;
}

footer{
    margin-top: 30px;
    text-align: center;
    background-color:  #ABACAD;
    padding: 5px;
    clear: both;
}

footer p{
    font-size: 12px;
}

nav ul li a.activo{
    background-color: #A82121;
}

/* .holder{
    width: 960px;
    margin: 0 auto;
} */
/*inicio home*/

h2{
    font-weight:bolder;
    color: #912E2E;
    text-decoration: underline;
    
}

p{
    font-size: 18px;
    width: 90%;
    padding: 1.5px ;
    display:block;
    font-family: italic;
}

.homeimg{
    margin-bottom: 1.5em;
}
/*fin home*/

/*inicio historia*/

.left{
    float: left;
}

.right{
    float: right;
}

h3{
    color: #912E2E ;
    font-weight: bold;
}
/*fin historia*/

/*inicio contacto*/
.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
}

.columna.left{
    border-right: 1px solid #ABACAD;
}

.columna.right p{
    font-size: 18px;
    margin-left: 1em;
    color:#912E2E;
    font-weight: bold;
    
}

.columna ul li{
    font-size: 1em;
}

.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;
    padding: 0.6em;
}
.formulario input,
.formulario textarea{
    background-color: #E5E5E5;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
    margin-left: 2em;
}

.formulario input[type="submit"]{
    background-color: #912E2E;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 1em;
    width: auto;
    cursor: pointer;
}

.formulario textarea{
    height: 10em;
    resize: none;
}

.formulario .acciones{
    text-align: center;
}

hr{
    margin-top: 3em;
}
/*fin contacto*/
/*inicio ubicacion*/
iframe{
    width: 100%;
}
/*fin ubicacion*/
