
/*inicio ejercicio 1*/
.item{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    padding: 2em;
    font-size: 25px;
    display: inline-flex; 
    margin-left: 5em;
}

#red{
    background-color:red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}