<main>
    <h2>Postales</h2>
    <div className="galeria">
        <div className="foto">
            <img src="images/galeria/laguna/laguna1.jpg" alt="laguna1" />
        </div>
        <div className="foto">
            <img src="images/galeria/laguna/laguna4.jpg" alt="laguna4" />
        </div>
        <div className="foto">
            <img src="images/galeria/monte/img1.jpg" alt="monte1" />
        </div>
        <div className="foto">
            <img src="images/galeria/monte/img4.jpg" alt="monte4" />
        </div>
        <div className="foto">
            <img src="images/galeria/laguna/laguna3.jpg" alt="laguna3" />
        </div>
        <div className="foto">
            <img src="images/galeria/monte/img2.jpg" alt="monte2" />
        </div>
        <div className="foto">
            <img src="images/galeria/monte/img6.jpg" alt="monte6" />
        </div>
        <div className="foto">
            <img src="images/galeria/monte/img3.jpg" alt="monte3" />
        </div>
        <div className="foto">
            <img src="images/galeria/laguna/laguna2.jpg" alt="laguna2" />
        </div>
        <div className="foto">
            <img src="images/galeria/monte/img5.jpg" alt="monte5" />
        </div>
    </div>
</main>