<main>
    <h2>Historia</h2>
    <div>
        <p>
            Esta es la historia de un pueblo de frontera, nacido entre malones de aguerridos aborígenes allá por
            1779, en tiempos del Virrey Vértiz.La Guardia del Monte surge desafiante, mirando hacia el tumultuoso e
            indómito “desierto”.Un poblado de pequeñas y humildes viviendas, pobladores laboriosos que a la sombra
            de
            frondosos talas y tentadores montes frutales, van conformando una pujante y progresista comunidad.
            Los orígenes de Monte se remontan al avance del español sobre la llanura, pampeana realizado a mediados
            del siglo XVIII.Para delimitar las líneas de frontera con el aborigen se creaban reductos defensivos
            que en algunos casos se convertían en fortines o fuertes.
        </p>
        <div class="parroquia right">
            <img src="images/hist/parroquia2jpg.jpg" alt="parroquia" />
        </div>
        <p>
            El pueblo de San Miguel del Monte, cabecera del partido de Monte, nació durante la segunda mitad del
            siglo XVIII, junto a un Fortín emplazado sobre la margen noreste de la laguna homónima, en tierras que
            pertenecían al extenso Pago de la Matanza.
        </p>
        <p>
            En sus primeros tiempos la Guardia del Monte debió ser un precario refugio de milicianos que cuidaban
            los límites extremos de las estancias y en ciertos períodos serviría de guarnición a los destacamentos
            estables en la defensa de la frontera, que realizaban el reconocimiento del lugar.Es muy ruinosa la
            situación de la guarnición, en 1778. Ya para esa época la Guardia del Monte había hecho su presentación
            en los documentos, aunque desde 1745 se tenían noticias de esta zona por las incursiones del comandante
            Juan de San Martín.
        </p>


        <p>
            La Guardia recibió diversas designaciones: Guardia del Monte, Guardia de la Laguna del Monte, Guardia de
            San Miguel de Monte (en homenaje al Santo Patrono San Miguel Arcángel), Guardia de San Miguel del Monte
            Gárgano y Guardia del Pago de la Matanza.
        </p>
        <p>
            Según documentos muy antiguos, estas tierras eran llamadas San Miguel del Monte Gárgano.La designación
            de Gárgano responde al monte ubicado en el sur de Italia, donde se aparece, según la leyenda, por
            primera
            vez el Arcángel San Miguel al pueblo que resistía a los bárbaros.La Comisión Nacional de Museos y de
            Monumentos y Lugares Históricos restituyó a la ciudad de Monte su antigua denominación de “San Miguel
            del Monte Gárgano”, en diciembre de 1980.
        </p>
        <p>
            En diciembre de 1778 la Guardia fue atacada por un malón que produjo una gran matanza conocida como la
            “Navidad trágica de 1778”.A partir de este episodio se reconstruyó como fortín y a partir de él surge
            la leyenda de la laguna de Monte.
        </p>
        <p> Ese mismo año durante el gobierno del Virrey Juan José Vértiz, se decidió modificar la línea fronteriza
            contra los aborígenes y avanzar hacia el sur del río Salado, frontera natural entre blancos y
            aborígenes.
        </p>
        <p>
            Posteriormente se afianzó la conquista sobre las tierras fundando pueblos en cada uno de los Fuertes que
            se establecían.
        </p>
        <p>
            En mayo de 1779 se designa Comandante General de la Frontera a Juan José de Sardén, quien se encargó de
            organizar y planificar los fuertes y fortines de la Cuenca del Salado.Además de fundar, fortificar y
            equipar a los fuertes se procedió a instalar una parte de la población alrededor de cada uno de estos
            puntos principales y vigilar el desarrollo de las mismas.Por esta causa se considera a Juan José de
            Sardén como el fundador de Monte.
        </p>
        <p>
            En 1779, el teniente coronel Francisco Betbezé de Ducós realizó un reconocimiento de frontera ordenado
            por el virrey Vértiz, llegando a la Guardia del Monte y describiendo a la misma de la siguiente manera:
            (…) “la situación en que se encuentra es bastante ventajosa, en una loma, que está a poco más de cien
            tuesas de la barranca que forma la laguna del mismo nombre.El Fuerte es aproximadamente cuadrado de 34
            metros por 35 varas de lado, con un foso de tres varas de ancho por dos de profundidad”.
        </p>
        <p>
            En ese mismo año se reconstruyó la Guardia, bajo la dirección del Ayudante Mayor de Frontera, Sebastián
            de la Calle, quien comunicó al Virrey el 19 de noviembre sobre los trabajos realizados, entre los cuales
            se cita a la capilla que se erige bajo la advocación de San Miguel Arcángel y bajo el patronato de
            Nuestra
            Señora de los Remedios.La misma estaba ubicada frente a la actual Plaza Vértiz.
        </p>

        <h3>Comandancia de la Frontera</h3>
        <p>
            Podríamos decir que aquí comienza la vida administrativa de Monte.Lentamente y como resultado del
            esfuerzo de los primeros pobladores, la Guardia da paso al Fortín y con éste, a los inicios de lo que
            luego será un incipiente poblado del interior de la provincia.A este período lo denominamos Etapa de
            Comandancia de Frontera, situación que se extiende aproximadamente hasta 18212, año en que se llevarán a
            cabo las conocidas reformas de Bernardino Rivadavia.
        </p>
        <p>
            Esta época se caracteriza por ser el Fuerte el centro de todas las actividades del lugar; en él se
            desarrolla la vida militar de frontera cuyos rasgos serán de ahí en más, la miseria, la intensa
            precariedad y una vida cotidiana caracterizada por una épica dureza, en la que todo es de todos.
        </p>
        <p>
            En el fortín, armados con pistolas y espadas, encontramos a los blandengues, la tropa de frontera.Es
            durante este período que se realiza una división administrativa de la zona y se crea el Distrito de San
            Vicente, que incluye el Fortín de Monte, que ya pertenecía también al curato de San Vicente.
        </p>
        <p>
            Los tiempos revolucionarios encuentran a la Guardia del Monte en una situación semejante a la de todos
            los pueblos de esos años, época en que la atención del gobierno se centra en la guerra y las luchas por
            la independencia.Sin embargo, el período de paz de los años anteriores permitió que la población
            aumentara considerablemente, aunque debemos tener en cuenta que el movimiento de población era constante
            en las zonas de la frontera.
        </p>
        <p>
            Al amparo de las acciones tendientes a dar vida al pueblo, los pobladores contribuyen con la causa
            emancipadora, así lo atestiguan los documentos que hacen referencias a la donación de caballos para el
            regimiento conformado por el general José de San Martín, el cual agradece la atención para con sus
            objetivos.
        </p>
        <p>
            Las expediciones al mando del Coronel Pedro García nos detallan las características de Monte, allá por
            1810: lo impresiona la laguna, sus barrancos y la rica arboleda, y en toda la descripción resalta la
            vegetación de la zona que le da a Monte un aspecto único.También destaca la calidad de las
            construcciones y entre ellas, la de la capilla.Aconseja la división del partido de San Vicente en dos:
            Monte y Ranchos, lo que se hace posteriormente.
        </p>
        <p>
            Los tiempos revolucionarios nos conectan también con otro personaje: el joven estanciero Juan Manuel de
            Rosas, quien en sociedad con Juan Nepomuceno Terrero compra campos sobre el Salado, los que darán origen
            a la estancia “Los Cerrillos”.De ahí en más la vida de Monte quedará ligada a la existencia de este
            protagonista de la política argentina de mediados del siglo XIX.Es de destacar en este período, la
            labor administrativa en favor del mejoramiento de las condiciones de vida de los pobladores del lugar,
            llevada a cabo por Pedro Nolasco López.
        </p>
        <p>
            En 1821 se crea un nuevo distrito formado por la Guardia de Monte y Ranchos, pero esto será anulado
            cuando en 1822 se forman los partidos de Guardia del Monte por un lado y Ranchos, por el otro.Al mismo
            tiempo desaparecen los Alcaldes de Hermandad junto con los cabildos y comienzan a ejercer sus funciones
            el Juez de Paz.Una nueva etapa administrativa había comenzado.
        </p>
        <p>
            El Juez de Paz se convierte en el centro de toda la administración, es agente de la curia eclesiástica,
            la defensoría de menores, de correos, comandancia de armas.La asunción de sus mandatos estaba rodeada
            de gran pompa.Un Juez de Paz destacado fue Vicente González – el Carancho- lugarteniente de Rosas, sin
            dudas una de las personas de mayor confianza en el entorno rosista de la Guardia del Monte.Ocupó cuatro
            veces este cargo.
        </p>
        <p>
            Son tiempos éstos en que Monte es el centro de una intensa actividad, especialmente política, a través
            de la figura de Juan Manuel de Rosas.
        </p>
        <div class="colorados left">
            <img src="images/hist/colorados2.jpg" width="400" alt="colorados del monte" />
        </div>
        <p>
            Frente al constante ataque de los malones, el cuidado en la vigilancia tenía una importancia primordial
            para los hacendados de la región.Juan Manuel de Rosas formó un grupo de defensa para asegurar la
            frontera y crea, en “Los Cerrillos”, el cuerpo de caballería denominado “Los Colorados del Monte”,
            llamados así por el color de sus uniformes e integrado por aproximadamente 600 hombres armados, entre
            los que se encontraban peones, paisanos de estancias vecinas y la gente de la Guardia del Monte.Este
            Cuerpo, al mando de Rosas, asegura en setiembre de 1820 la continuidad del gobierno de Martín Rodríguez,
            al apoyar el respeto por el orden y las instituciones.
        </p>
        <p>
            En 1829, Juan Manuel de Rosas asumió como gobernador.De su gestión se destaca la diversidad de obras a
            favor de la Guardia de Monte, como por ejemplo uno de los primeros planos realizados por Chiclana
            (1829).Su fervor religioso se manifiesta en las contribuciones para la construcción de la nueva Capilla
            (donde hoy se encuentra la EPB Nº 16), la traza del nuevo cementerio en la ubicación actual, el
            incentivo del cultivo de hortalizas y el reparto de chacras en el pueblo (tarea fiscalizada por Vicente
            González, su lugarteniente) que permitió a muchos habitantes acceder a la propiedad de la tierra.La
            implementación de esta última medida favoreció especialmente el crecimiento de la Guardia y el número de
            huertas incrementó la producción de hortalizas.
        </p>
        <p>
            En 1832, administrativamente, el partido se dividía en cinco cuarteles y al frente de los mismos se
            encontraban personas con experiencia y colaboradores de la causa federal.
        </p>
        <p>
            El 22 de marzo de 1833, sale de la Guardia del Monte el ala izquierda del Ejército que realizará la
            “Campaña al desierto”, para conquistar nuevas tierras para la producción ganadera y lograr un acuerdo de
            paz con los aborígenes.Al frente de Los Colorados del Monte, va Juan Manuel de Rosas.Tres años durará
            esta campaña.
        </p>

        <h3>El pueblo de la Guardia y su evolución</h3>

        <p>
            Las primeras ocho familias que dieron origen al pueblo, arribaron el 21 de mayo de 1780, en cinco
            carretas escoltadas por un grupo de milicianos.Estas familias estaban integradas por un total de 42
            personas.Se establecieron así, los primeros cimientos de la población urbana de Monte, en un
            tradicional plano en damero, adyacente al fuerte.
        </p>
        <p>
            La principal actividad que realizaban estos primeros habitantes se basaba en el mantenimiento y cuidado
            de la frontera con el aborigen, ya que sólo tuvieron acceso a pequeñas porciones de tierra sin valor.
            Hacia fines del siglo XVIII se iniciaron las primeras labores agrícolas, especialmente se cultivó trigo
            y maíz en pequeña escala.La amenaza frente a posibles ataques de los malones no detuvo el arribo de
            otros pobladores y un año más tarde, la población de la Guardia del Monte ascendía a 345 habitantes.
        </p>
        <p>
            En lo edilicio, hacia 1840 la parte más poblada estaba al margen de la laguna, sobre la que hoy se
            desarrolla la ciudad.La plaza España, la principal para esa época, estaba rodeada de las principales
            construcciones, destacándose el fuerte; contiguo al mismo, el parque de Artillería, la Maestranza y los
            cuarteles de la Tropa.En la manzana que miraba al sur y frente al Fuerte, se hallaba el cementerio y a
            su costado, el hospital.También se destacaba la Iglesia que Rosas había hecho construir (espacio hoy de
            la escuela Nº 16).Por las actuales calles Belgrano y Santos Molina, se extendían las casas de los
            principales hacendados.Algunas pulperías se hallaban sobre las márgenes del arroyo El Totoral.
        </p>
        <p>
            Ya en el siglo XIX, la autoridad pasa a la Municipalidad.Hacia 1854, la Ley Orgánica Municipal limita
            las atribuciones de los jueces de paz reglamentándose la formación de las primeras comunas integradas
            por elección popular.La comuna comienza a funcionar en un viejo caserón con frente a la calle Bartolomé
            Mitre(donde hoy se encuentra la escuela Nº 16) hasta que en 1870 se construye el edificio municipal.Una
            ley de 1884 quita facultades a los jueces de paz y se las otorga al municipio.
        </p>
        <p>
            En 1865 se procede a la mesura y división del pueblo de Monte, y ese año también se fijan
            definitivamente los límites del partido.
        </p>
        <p>
            Para 1869 se traza la nueva Plaza (hoy Alsina) y ese mismo año se establece el alumbrado público en el
            pueblo.En 1877 Monte queda conectado a la red de Telégrafo del Estado.
        </p>
        <p>
            Con la Constitución provincial de 1873 se reforma el régimen municipal y cada comuna pasa a ser
            independiente.Un año después, la localidad de San Miguel del Monte fue declarada ciudad por ley 8174
            del 27 de mayo.
        </p>
        <p>
            En 1891 se aprobó el proyecto del Boulevard, se fundó la Sociedad Italiana en 1892 y se inauguró el
            hospital en 1899 donado por Zenón Videla Dorna.
        </p>
        <p>
            En 1916 se instala la primer usina y es el edifico del hospital el que primero recibe luz.En 1927 se
            crea la Usina Eléctrica de Monte.
        </p>
        <p>
            La llegada del teléfono se produjo en 1921 y en 1932 se implementa el primer plan integral de
            pavimentación del pueblo, con lo que se llego a tener 96 cuadras pavimentadas.
        </p>
        <p>
            El crecimiento que experimentaba Monte demandaba mayor expansión para la administración municipal y fue
            así como en 1934, siendo Intendente Municipal Daniel Videla Dorna se construye un nuevo edificio
            municipal con una arquitectura más amplia y más moderna, siendo inaugurado oficialmente en 1936.
        </p>
        <p>
            Entre 1940 y 1960, Monte experimentó un desarrollo urbano que estuvo caracterizado por la provisión de
            servicios públicos y por el crecimiento y diversificación de las actividades terciarias.
        </p>
        <p>
            En 1945, se constituyó la Sociedad Rural Guardia del Monte con el propósito de unir a todos los
            productores rurales del partido para la mejor defensa de los intereses comunes y fomentar el desarrollo
            y progreso económico y técnico de la ganadería, la agricultura, la granja y de las industrias afines.En
            este período, se formó el Club de Pesca en 1949 para defender e incentivar la riqueza ictícola de la
            laguna.El Club de Caza y Pesca San Huberto llegó a Monte en 1967, inaugura en 1968 su propia estación
            de Piscicultura, teniendo en cuenta que una de sus preocupaciones ha sido la siembra de alevinos de
            pejerrey.En 1948, surgió la Cooperativa Eléctrica de Monte Limitada.
        </p>
        <p>
            Entre los años 1970 y 1980 el distrito de Monte continuó su crecimiento urbano favorecido por la
            instalación de pequeñas y medianas empresas, la ampliación de las actividades terciarias y la
            valorización de las áreas periféricas.
        </p>
        <p>
            En lo religioso, el fuerte tuvo desde sus orígenes una capilla cuya construcción se inició el 18 de
            noviembre de 1779. En 1867 se inaugura oficialmente el actual templo, ubicado frente a la Plaza Adolfo
            Alsina, cuya fachada es de estilo colonial.En 31 de octubre de 1980 a través del decreto Nº 2270 el
            edificio de la Iglesia fue declarado Monumento Histórico Nacional.
        </p>

        <h3>Museo Guardia del Monte y Rancho de Rosas</h3>

        <p>
            Ubicados en lo que tradicionalmente conocemos como “casco histórico”, el Museo Guardia del Monte y la
            Reliquia Histórica Rancho de Rosas integran desde los inicios del año 2008, por iniciativa de la
            Dirección de Cultura y educación de la Municipalidad de Monte, un “Complejo” de alto valor patrimonial
            histórico y cultural.
        </p>
        <div class="rancho right">
            <img src="images/hist/rancho.jpg" width="400" alt="rancho" />
        </div>
        <p>
            El Museo Guardia del Monte, inaugurado en diciembre de 2001, fecha clave en la historia contemporánea de
            los argentinos, nos permite realizar un apasionante viaje por el complejo, rico y diverso proceso
            sociohistórico que da sentido a la comunidad de Monte.
        </p>
        <p>
            Organizado a partir de grandes etapas, en su interior, el visitante podrá apreciar el rústico y sencillo
            origen de la “Guardia del Monte”, allá por 1779 y sus aportes al proceso independentista; el peso de la
            presencia de un caudillo terrateniente como fue Don Juan Manuel de Rosas y la influencia que ejerció en
            la región, desde su Estancia “Los Cerrillos”.Entre caudillos y confrontaciones apasionadas aparecen
            lentamente los tiempos de la “Organización Nacional” y la impronta de los inmigrantes y las Asociaciones
            de Beneficencia y los tiempos contemporáneos, que se inician con la presencia de un progresista, como
            fue Don Daniel Videla Dorna.
        </p>
        <p>
            El campo también tiene su espacio y son testimonio de un sector importante de la economía local,
            indumentaria, objetos de uso cotidiano, elementos de labranza, entre otros vestigios, que dan cuenta del
            esfuerzo y de la cultura del trabajo propio de esos tiempos.
        </p>
        <p>
            Todo enriquecido con aportes de las familias de la localidad, que han facilitado sus más preciados
            recuerdos, permitiendo recomponer la diversidad y la riqueza de la vida cotidiana.
        </p>
        <p>
            Sin dejar de mencionar los restos arqueológicos, producto de investigaciones recientes, que nos permiten
            de a poco, reconstruir la trama de los hechos en su totalidad.
        </p>
        <p>
            Como es característico en los pueblos de frontera, la Fe, la Iglesia como institución ocupa un lugar
            importante, por eso la presencia de la iconografía religiosa, indumentaria protocolar, objetos de
            liturgia y valiosas pinturas que aportan intensidad e historias al recorrido, dando vida a un entramado
            de hechos de diversa naturaleza, que nos permiten repetir con orgullo este pensamiento “si hay lugares
            que llegan hasta el alma, Monte es uno de ellos…”
        </p>

        <h3>Referencia</h3>
        <p>
            Leyenda de Guecubú.Guecubú es el genio de la laguna de Monte.Vive bajo sus aguas y, cuando el sol se
            apaga en el horizonte, sale a recorrer sus riberas, envuelto en una capa roja.Le encanta treparse por
            los talas de la zona y esconderse entre ellos.Pero nadie conoce su secreto.Quien se atreva a
            averiguarlo, será castigado con la muerte.
        </p>
        <p>
            Es probable que los soldados del Alférez Santos Molina, allá por aquella Nochebuena del 24 de diciembre
            de 1778, hayan querido conocer el misterio de Guecubú, desafiando su amenaza.Se internaron en los
            montes de tala, esperando su aparición en la ribera de la laguna.Pero Guecubú trajo un violento malón
            de aborígenes de la zona, que terminó con la vida de todos los soldados y con la del Alférez Santos
            Molina.Fue la trágica Navidad de 1778.
        </p>
        <p>
            Desde el cielo, donde todo era Amor y Alegría, Dios contempló cómo la acción del mal había destruido
            vidas inocentes y decidió castigar a Guecubú.Lo expulsó para siempre de la laguna de Monte.Sólo se
            encontró su roja capa, extendida sobre el campo.
        </p>
        <p>
            En ese lugar creció un matorral de hermosas margaritas rojas y, desde entonces, el rojo fue el color que
            predominó en la zona, desde el uniforme de los blandengues hasta el cuerpo de caballería “Los Colorados
            del Monte”, que formó Don Juan Manuel de Rosas y que escribió importantes páginas de nuestra historia.
        </p>
    </div>
</main>