<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div>
      <img src="images/logo/logo1.jpg" width="200" alt="San Miguel del Monte" />
      <h1>SAN MIGUEL DEL MONTE</h1>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/historia">Historia</a></li>
      <li><a href="/galeria">Galería</a></li>
      <li><a href="/novedades">Novedades</a></li>
      <li><a href="/ubicacion">Ubicación</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>
<footer>
  <p>San Miguel del Monte 2021</p>
</footer>

</html>