h1 {
    color: black;
    background-color: rgb(143, 143, 223);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 1000px;
    height: 80px;
    padding-top: 15px;
    margin: auto;
}

h2 {
    font-size: 20px;
    color: violet;
    font-family: cursive;

}

.caja {
    color: black;
    text-align: left;
    background-color: rgb(143, 143, 223);
    width: 400px;
    height: 300px;
    padding: 0px auto;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 30px;
}

.caja2 {
    color: black;
    text-align: left;
    background-color: rgb(143, 143, 223);
    width: 400px;
    height: 450px;
    padding: 0px auto;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 30px;
}

p {
    color: blue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
}

div:hover {
    background-color: cadetblue;
}

span{ 
    background-color:white; 
    padding: auto;
    border: solid 1px black;
    font-size: 20px;
    
}

span::before {
    content: 'anterior';
    color:black;
    background-color: violet;
}

span::after {
    content: 'siguiente';
    color: black;
    background-color: violet;
}