.contenedor{
width: 450px;
height: 450px;
border: 1px solid black;
background-color: white;
display: flex;
flex-direction: column;
align-items: flex-end;
margin-left: auto;
margin-right: auto;



}

.aqua{
    width: 150px;
    height: 150px;
    border: 1px solid #00D2F7;
    background-color: #00F9F9;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rosa{
    width: 150px;
    height: 150px;
    border: 1px solid #F70083;
    background-color: #F4559F;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amarillo{
    width: 150px;
    height: 150px;
    border: 1px solid #EFDF00;
    background-color: #EDE271;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}